@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 31% 96%;
    --foreground: 210 14% 13%;
    --card: 0 0% 100%;
    --card-foreground: 210 14% 13%;
    --primary: 162 74% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 32% 92%;
    --secondary-foreground: 210 14% 13%;
    --muted: 38 24% 91%;
    --muted-foreground: 210 8% 36%;
    --accent: 39 75% 88%;
    --accent-foreground: 210 14% 13%;
    --destructive: 0 84% 54%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 16% 86%;
    --input: 210 16% 86%;
    --ring: 162 74% 28%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background text-foreground antialiased;
    margin: 0;
  }
}
